@model MyProject.MVC.Models.VehicleModelViewModel

@{
    ViewData["Title"] = "VehicleModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>VehicleModel</h1>

<p>
    @using (Html.BeginForm("VehicleModel", "VehicleModelControler", FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "Name", true) <text> Name </text>
        @Html.RadioButton("searchBy", "Abrv") <text> Abrv </text><br />
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>
<table class="table">
    <thead>
        <tr >
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abrv)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.VehicleModels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditVehicleModel", new { Id = item.Id, Name = item.Name, Abrv = item.Abrv, VehicleMakeId = item.VehicleMakeId })
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteVehicleModel", new { Id = item.Id, Name = item.Name, Abrv = item.Abrv })
            </td>
        </tr>
}
    </tbody>
</table>
