@model MyProject.MVC.Models.VehicleModelViewModel

@{
    ViewData["Title"] = "VehicleModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vehicle Models</h1>

<p>
    @using (Html.BeginForm("VehicleModel", "VehicleModelControler", FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "Name", true) <text> Name </text>
        @Html.RadioButton("searchBy", "Abrv") <text> Abrv </text><br />
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</p>
<div>
    @ViewBag.Message
</div>
@if (Model != null)
{

    <table class="table">
        <thead>
            <tr >
                <th>
                    <button style="color:blue;" onclick="sorting('Name', '@ViewBag.Sorting', '@ViewBag.Search', '@ViewBag.SearchBy')">@Html.DisplayNameFor(model => model.Name)</button>
                </th>
                <th>
                    <button style="color:blue;" onclick="sorting('Abrv', '@ViewBag.Sorting', '@ViewBag.Search', '@ViewBag.SearchBy')">@Html.DisplayNameFor(model => model.Abrv)</button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.VehicleModels)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrv)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditVehicleModel", new { Id = item.Id, Name = item.Name, Abrv = item.Abrv, VehicleMakeId = item.VehicleMakeId })
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteVehicleModel", new { Id = item.Id, Name = item.Name, Abrv = item.Abrv })
                </td>
            </tr>
    }
        </tbody>
    </table>
<script>
    var sorting = function (sortBy, sortType, search, searchBy) {
        if (sortType == "desc") {
            if (sortBy == "Name") {
                window.location.replace("https://localhost:44373/VehicleModel/VehicleModel?" + "sortBy=Name&sortType=asc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
            }
            else {
                window.location.replace("https://localhost:44373/VehicleModel/VehicleModel?" + "sortBy=Abrv&sortType=asc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
            }
        }
        else {
            if (sortBy == "Name") {
                window.location.replace("https://localhost:44373/VehicleModel/VehicleModel?" + "sortBy=Name&sortType=desc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
            }
            else {
                window.location.replace("https://localhost:44373/VehicleModel/VehicleModel?" + "sortBy=Abrv&sortType=desc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
            }
        };
    };
</script>
}
