@model MyProject.MVC.Models.VehicleMakeViewModel

@{
    ViewData["Title"] = "VehicleMake";
}

<h1>VehicleMake</h1>

<p>
    <a asp-action="AddVehicleMake">Add Make</a>
</p>
<p>
    @using (Html.BeginForm("VehicleMake", "VehicleMakeControler", FormMethod.Get))
    {
        <b>Search by:</b> @Html.RadioButton("searchBy", "Name", true) <text> Name </text>
        @Html.RadioButton("searchBy", "Abrv") <text> Abrv </text><br />
        @Html.TextBox("search")<input type="submit" value="search"/>
            }
        </p>
</p>
<div>
    @ViewBag.Message
</div>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <button style="color:blue;" onclick="sorting('Name', '@ViewBag.Sorting', '@ViewBag.Search', '@ViewBag.SearchBy')">@Html.DisplayNameFor(model => model.Name)</button>
                </th>
                <th>
                    <button style="color:blue;" onclick="sorting('Abrv', '@ViewBag.Sorting', '@ViewBag.Search', '@ViewBag.SearchBy')">@Html.DisplayNameFor(model => model.Abrv)</button>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.VehicleMakes)
            {
                <tr>
                    <td width="35%">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td width="20%">
                        @Html.DisplayFor(modelItem => item.Abrv)
                    </td>
                    <td width="15%"><a href="@Url.RouteUrl("add-vehicle-model", new { Id = item.Id })">Add Model</a></td>
                    <td width="15%">@Html.ActionLink("Edit", "EditVehicleMake", new { Id = item.Id, Name = item.Name, Abrv = item.Abrv })</td>
                    <td width="15%"><a href="@Url.RouteUrl("delete-vehicle-make", new { Id = item.Id, Name = item.Name, Abrv = item.Abrv })">Delete</a></td>
                </tr>

            }
        </tbody>
    </table>
    <script>
        var sorting = function (sortBy, sortType, search, searchBy) {
            if (sortType == "desc")
            {
                if (sortBy == "Name") {
                    window.location.replace("https://localhost:44373/VehicleMake/VehicleMake?" + "sortBy=Name&sortType=asc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
                else {
                    window.location.replace("https://localhost:44373/VehicleMake/VehicleMake?" + "sortBy=Abrv&sortType=asc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
            }
            else
            {
                if (sortBy == "Name") {
                    window.location.replace("https://localhost:44373/VehicleMake/VehicleMake?" + "sortBy=Name&sortType=desc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
                else {
                    window.location.replace("https://localhost:44373/VehicleMake/VehicleMake?" + "sortBy=Abrv&sortType=desc" + (searchBy ? "&searchBy=" + searchBy : "") + (search ? "&search=" + search : ""));
                }
            };
        };
    </script>
}
